.Head{

    display: flex;
    background: rgba(0, 0, 0, 0.698);
    height: 65px;
    align-items: center;
    justify-content: space-between;
}
#body {
    position: relative;
    /* z-index: 1; */
    background-size: 100% 100%;
    margin: 0px;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}
/* .bg2{
    opacity: 1;
    z-index: -1;
    transition: 2s;
    background-image: url(./image/img1.jpg);
    background-size: 100% 100%;
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    animation-name: fade ;
    animation-delay: 2.5s;
}
@keyframes fade {
    0% { opacity: 0 }
    50%{ opacity: 0.5 }
    100% { opacity: 1 }
  }
*/
.HDiv {
    border-radius: 0.3rem;
    display: flex;
    width: 64%;
    background-color: rgba(255, 255, 255, 0);
    align-items: center;
    transition: 1s opacity color;
    flex-direction: row-reverse;
} 

/* #image {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    animation: fade 2.5s linear infinite;
    animation-delay: 2.5s;
}
@keyframes fade {
    0% { opacity: 1 }
    50% { opacity: 0 }
    100% { opacity: 1 }
} */
.image{
    transition: 2s;
    position: absolute;
    bottom: 0px;
    z-index: 3;
    width: 100%;
    height: auto;
}
.image2{
    transition: 2s;
    position: absolute;
    bottom: 0px;
    z-index: 2;
    width: 100%;
    height: auto;
}
.image3{
    transition: 2s;
    position: absolute;
    bottom: 0px;
    z-index: 1;
    width: 100%;
    height: auto;
}
.image4{
    transition: 2s;
    position: absolute;
    bottom: 0px;
    z-index: 0;
    width: 100%;
    height: auto;
    
}


.HDiv > img{
    transition: 0.9s opacity;
    opacity: 0.6;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 0.3rem 0rem 0rem 0.3rem;
    padding-top: 5px;
    height: 20px;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 25px;
    padding-right: 5px
}
.HDiv:focus{
    opacity: 1;
}
.Head > img:first-child {
    height: 40px;
    width: 150px;
    margin-left: 20px;
    
}
.HDiv > input {
    transition: 0.9s opacity;
    opacity: 0.6;
    background-color: white;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 0rem 0.3rem 0.3rem 0rem;
    width: 100%;
    height: 30px;
    border: none;
    padding: 0;
}
.HDiv > input:focus {
    outline: none;
    opacity: 1;
    transition: 0.9s ;
}

.HDiv > input:focus ~ img{
    outline: none;
    opacity: 1;
    transition: 0.9s;
}

.HDiv2{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.HDiv2 > button{
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
    border-radius: 0.2rem;
    font-weight: 600;
    width: 52%;
    height: 30px;
    font-size: 16px;
    margin: 0px 6px 0px 0px;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    transition: 0.4s color;
}
.HDiv2 > button:hover{
    color: aliceblue;
    transition: 0.4s;
}
.HDiv2 > a{
    width: 32%;
    color: white;
    text-decoration: none;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}
.Body1 {
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    height: 82.7%;
    display: flex;
    font-size: 26px;
    line-height: 56px;
    font-weight: 600;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Body1 > h1{
    color: white;
}
.Body1 > h3 {
    line-height: 35px;
    color: white;
    width: 100%;
    font-size: 25px;
    text-align: center;
}
.Body1 > button{
    border: none;
    border-radius: 0.25rem;
    height: 64px;
    line-height: 64px;
    font-size: 24px;
    font-weight: 550;
    margin-bottom: 70px;
}

.Bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 55px;
    background-color: black;
}
.BUl{
    padding: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}
hr {
    display: none;
}
.BUl > div > a {
    margin-right: 2%;
    font-size: 16px;
    color: gray;
}
.BUl > div {
    /* margin-right: 40px; */
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.BUl > a:nth-child(12){
    margin: 0px;
}
.Search {
    height: 30px;
    width: 30px;
    display: none;
}

@media (max-width: 1047px){
    .BUl{
        width: 88%;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        flex-direction: column;
        align-items: center;
    }
    .BUl > a{
        padding: 0px;
        margin-bottom: 0px;
    }
    .Bottom{
        height: auto;
    }
    hr{
        width: 100%;
        display: block;
    }
}
@media (max-width: 950px){
    .HDiv{
        display: none;
    }
    .HDiv2{
        width: 23%;
    }
    .Search{
        margin-right: 20px;
        position: relative;
        float: left;
        display: block;
    }
}